<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">

        <Found Context="routeData">

            <AuthorizeView Roles="admin, user, scu">
                <Authorized>
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                </Authorized>
                <NotAuthorized>
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(LoginLayout)" />
                </NotAuthorized>
            </AuthorizeView>


        </Found>
        <NotFound>


            <AuthorizeView Roles="admin, user, scu">
                <Authorized>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <!--Page not found-->
                        <div class="not-found-icon">
                            <img src="/icons/NotFound.jpg" alt="that shouldn't happen!" class="not-found-icon-child"/>
                        </div>
                        <div class="not-found-text">
                            <h2>Sorry, there's nothing at this address</h2>
                        </div>
                    </LayoutView>
                </Authorized>
                <NotAuthorized>
                    <LayoutView Layout="@typeof(LoginLayout)">
                        <!--Login page-->
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeView>


        </NotFound>

    </Router>
</CascadingAuthenticationState>
